@charset "utf-8";

section#conteudo{
    width: 1000px;
    margin: auto;
}

iframe#frame-especificacoes{
    width: 400px;
    height: 280px;
    border: none;
    overflow: hidden;
}

iframe#frame-especificacoes::-webkit-scrollbar{
    display: none;
}

